blob-react-ui/obj/Debug/net6.0/blob-react-ui.AssemblyInfo.cs
blob-react-ui/obj/Debug/net6.0/blob-react-ui.AssemblyInfoInputs.cache
webAPI/obj/Debug/net9.0/webAPI.AssemblyInfo.cs
webAPI/obj/Debug/net9.0/webAPI.AssemblyInfoInputs.cache
