.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f8ff; /* Light background color */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-header {
    background-color: #555; /* Dark gray color */
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.login-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form div {
    margin-bottom: 15px;
}

.login-form label {
    margin-right: 10px;
}

.button-red {
    background-color: red !important;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: not-allowed;
}

.button-green {
    background-color: green !important;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.button-visible {
    opacity: 1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button-bounce {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.button-buzz {
    animation: buzz 0.05s;
}

@keyframes buzz {
    0%, 100% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(-5px);
    }
    60% {
        transform: translateX(5px);
    }
    80% {
        transform: translateX(5px);
    }
}
